@use "@carbon/colors";

$black: colors.$cool-gray-100;
$black-hover: colors.$cool-gray-80;
$gray: colors.$cool-gray-70;
$light-gray: colors.$cool-gray-20;
$light-gray-hover: colors.$cool-gray-20-hover;
$white: colors.$white;
$white-hover: #f7f9fc;
$accent-hover: colors.$green-60;
$accent: colors.$green-50;
