@use "@carbon/layout";
@use "../../styles/variables";

.quote-card {
  padding: layout.$spacing-05 0;

  &__copy {
    margin-bottom: layout.$spacing-07;
  }

  &__left-quote {
    margin-left: -8px;
  }

  &__byline {
    display: flex;
    align-items: center;
    .quote-card__logo {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: layout.$spacing-03;
    }
  }
}
